    body {
        background-image: url(20215.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
    .card1 {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to top, black, red);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
    width: 320px;
    padding: 30px;
    margin: 20px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    }

    .card1:hover {
        padding: 35px;
        box-shadow: 0 0 20px 5px blue;
    }
    .cardI {
        color: transparent;
        transition: box-shadow 1s ease  ;
    }

    .card1:hover, .cardI {
        color: white;
    }


    .card {
        display: inline-block;
        background-image: linear-gradient(to top, black, red);
        width: 425px;
        height: 450px;
        padding: 30px;
        margin: auto;
        border-radius: 50px;
    }

    #dark:target {
        opacity: 1;
        pointer-events: all;
    }

    #light:target {
        opacity: 1;
        pointer-events: all;
    }

    .overlayB {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }
