img {
    display: inline-block;
    animation: rotate 2s linear infinite ;
    margin-left: 500px;
    
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}