body {
  font-size: 25px;
  background: linear-gradient(to right, #ff1a1a, #b30000, #000000);
  background-size: 600% 600%;
  animation: sG 8s ease infinite;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  min-height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
}

@keyframes sG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 20%; }
    100% { background-position: 0% 50%; }
}

.Dv {
  margin: 0;
  position: relative;
  background: linear-gradient(to bottom,#7c0000, #232526);
  background-clip: text;
  color: transparent;

}

.Fa, .Dv, .p1, .p2 {
  display: inline-block;
  position: relative;
  margin: 0;
  line-height: 1.1;
}

.Fa   { animation: slideUp 1.5s ease-in 0s forwards; }
.Dv   { animation: slideUp 1.5s ease-in 0.1s forwards; }
.p2   { animation: slideUp 1.5s ease-in 0.15s forwards;}

@keyframes slideUp{
      0% {
    top: 150px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.Fa {
  margin-bottom: 5px; 
}

.Dv {
  margin-top: 0;     
  opacity: 0; 
}

.p1 {
  font-size: 15px;
  border-radius: 1px;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid transparent;
  width: 0;
   animation:
    typing 2s steps(14, end) 2s forwards,
    blink 1s step-end infinite 3s;
}

@keyframes typing {
  from { width: 0; border-right-color: transparent; }
  1% { border-right-color: white;}
  to { width: 10ch; border-right-color: white;}
}

@keyframes blink {
  0% { border-right-color: transparent;}
  50% { border-right-color: white;}
  100% { border-right-color: transparent;} 
}

.p2 {
  font-size: 20px;
  background-color: #a50303;
  list-style-position: inside;
  border-radius: 10px;
  padding: 5px 10px;
}

.p2:hover {
  padding: 15px;
}



.projects {
  margin-top: 40px;
  padding: 20px;
  color: white;
}

.projects h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #fff;
}

/* Outer gradient card */
.card1 {
  display: inline-block;
  background-image: linear-gradient(to top left, black, red);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.4);
  width: 320px;
  padding: 30px;
  margin: 20px;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}

a {
  background-color: #000000;
  border-radius: 10px;
  list-style-position: inside;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

a:hover {
  padding: 15px;

}

.projects ul li a {
  display: inline-block; /* so padding/margin behaves nicely */
  margin: 5px 0;         /* space between links */
}

#mp {
  text-align: center;
}