h3 {
    background-color: gray;
    border: 5px yellow solid;
    color: lightblue;
}

h4 {
    background-color: gray;
    border: 5px yellow solid;
    color: lightblue;
}

p {
    background-color: gray;
    border: 5px yellow solid;
    color: lightblue;
}