body {
    background: #1e1e1e;
    padding: 20px;
    color: white;
}
 /* color */
.line { border-right: 1px groove grey;}
.c { color: #6A9955;}
.class { color: #82aaff;}
.tag { color: #569CD6;}
.string { color: #CE9178;}
.g { color: gray;}

/* position left*/
.cr1 {
    display: block;
    margin-top: -502px;
    margin-left: -85px;
    font-size: 17px;

}
.cr2 {
    display: block;
    margin-top: -63px;
    margin-left: -85px;
    font-size: 17px;
}

.cr3 {
    display: block;
    margin-top: -63px;
    margin-left: -85px;
    font-size: 17px;
}
.cr4 {
    display: block;
    margin-top: -63px;
    margin-left: -85px;
    font-size: 17px;
}
.cr5 {
    display: block;
    margin-top: -63px;
    margin-left: -85px;
    font-size: 17px;
}


/* position right*/
.leftc {
    display: block;
    margin-top: -85px;
}
.c {
    display: block;
    font-size: 17px;
    margin-top: -35px;
    margin-left: 474px;
}
.cf1 {
    font-size: 17px;
    margin-left: 400px;
    margin-top: -77px;
}
.cf2 {
    display: block;
    font-size: 17px;
    margin-top: -63px;
    margin-left: 400px;
}
.cf3 {
    display: block;
    font-size: 17px;
    margin-top: -63px;
    margin-left: 400px;
}
.cf4 {
    display: block;
    font-size: 17px;
    margin-top: -63px;
    margin-left: 400px;
}


/* img */
.img1 {
    display: block;
    margin-top: -255px;
    margin-left: -122px;
    font-size: 17px;
}
.img2 {
    display: block;
    margin-top: 90px;
    margin-left: -122px;
    font-size: 17px;
}
.p {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    margin-left: 17px !important;
    margin-top: -820px !important;
    border: 2px solid #333 !important;
    display: block !important;
}

@media (max-width: 768px) {
  .resume {
    flex-direction: column;
  }
  pre {
    font-size: 14px;
  }
}

/* by ji */


