.MAIN {
    text-align: center;
    margin-top: -80px;
}

.MAIN2 {
    text-align: center;
    margin-top: -29px;
}

.CONTACTS {
    margin: 2px 0;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0;
    line-height: -1;
}

.nga {
    margin: 2px 0;
    margin-left: 18px;
    margin-top: -25px;
    padding: 0;
    line-height: 1.2;
}

.EDUC {
    margin-top: 20px;
    margin-left: 15px;
}

.SKILLS{
      position: absolute;
    top: 60%;
    left: 2%;  
}

.InternetResearch {
     position: absolute;
    top: 65%;
    left: 3%;  
}

.TypingSkills {
        position: absolute;
    top: 67%;
    left: 3%;  
}

.Cooperative {
    position: absolute;
    top: 69%;
    left: 3%;  
}

.HOBBIES{
    position: absolute;
    top: 79%;
    left: 2%;  
}

.DRAWING {
     position: absolute;
    top: 85%;
    left: 3%; 
}

.SLEEPING {
     position: absolute;
    top: 87%;
    left: 3%; 
}

.EXPERIENCES {
    position: absolute;
    top: 20%;
    right:17%; 
}

.Exp1 {
    position: absolute;
    top: 22%;
    right: 7%;
}

.ACHIEVEMENT {
     position: absolute;
    top: 40%;
    right: 16.4%; 
}

.ACH1 {
     position: absolute;
    top: 46%;
    right: 16.7%;
}

.ACH2 {
    position: absolute;
    top: 48%;
    right: 11%;
}

a  {
     position: absolute;
    top: 97%;
    right: 1%;
}

.hr1 {
    margin-top: 7%;
}

.hr2 {
    margin-top: -10px;
    position: absolute;
    height: 900px;
    left: 1100px;
}

@media (max-width: 1440px) {
    .hr2 {
        left: 720px;
    }
}   
