.buttons {
    position: relative;
    width: 300px;
    height: 150px;
}

#display {
    width: 240px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.calc {
    background-color: #4CAF50;
    
}