#Heading {
    color: blue;
    background-color: lightblue;
    border-radius: 13px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 100px;
    height: 300px;
    text-align: center;
}

.heading {

}
.para {
    color: red;
}

#content {
    text-align: center;
    background-color: lightgreen;
    border-radius: 13px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 20px;
    height: 300px;
}   

.sub-content {
    background-color: lightyellow;
    float: left;
    border: 2px solid black;
    margin: 5px;
    border-radius: 13px;
    width: 32%;
    height: 200px;
}